## Include your project-specific ignores in this file
## Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

## sql files
!*.sql

## never ignore a .gitignore (prevents Git ignoring empty directories by placing an empty .gitignore file in them)
!.gitignore